.displayItems {
   width: 67%;
   padding: 80px;
   background-color: var(--block-color);
   margin-top: 4rem;
}

.displayItems h1{
   margin-top: 0;
}

.title {
   margin-top: 15px;
   margin-bottom: 45px;
   color: var(--website-color);
}

.listitems {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   gap: 10px;
}

.resultCount p {
   margin-top: 8px;
   margin-bottom: 0;
}

.filterbaramount {
   display: flex;
   justify-content: space-between;
}

.filterbuttons {
   display: flex;
   justify-content: end;
   gap: 10px;
   margin-top: 10px;
}

.filtercatagory li,
.resentlyviewedproducts li {
   list-style: none;
}

.filtercatagory li span {
   color: var(--website-color);
}

.recently_item {
   margin-top: 20px;
   padding: 5px;
   display: flex;
   justify-content: start;
   gap: 20px;
}

.recently_item img {
   height: 50px;
}

.recently_item div {
   width: fit-content;
   padding: auto;
}

.itemsandfilters {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   padding: 4% 6%;
   margin: 0px auto;
   gap: 30px;
   background-color: var(--bg-color);
}

.filters {
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-left: 20px;
   width: 35%;
   margin-top: 4rem;
}

.searchbar,
.filterbar,
.filtercatagory,
.resentlyviewedproducts{
      padding: 30px;
      background-color: var(--block-color);
   }

   .cardlist {
    margin: 30px auto;  
   }

@media only screen and (max-width: 920px) {
   .displayItems{
      padding: 10%;
   }
   
   .displayItems h1{
      font-size: 3.23rem;
   }
   
   .itemsandfilters {
      display: flex;
      flex-direction: column;
   }

   .cardlist {
      width: 90%;
      margin: 20px auto;
      margin-left: 20px;
   }
   
   .filters{
      width: inherit;
      margin-left: 0;

   }
   .displayItems{
      width: inherit;
   }
}

@media only screen and (max-width: 450px) {
   .listitems {
      flex-direction: column;
   }

   .displayItems h1{
      font-size: 2.1rem;
   }
}
