.buttons {
   display: flex;
   gap: 10px;
   justify-content: end;
}

.box {
   overflow-y: scroll;
   scroll-behavior: auto;
   height: 25rem;
   padding: 0.5rem;
   /* box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.148); */
   box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.148);
}


@media only screen and (max-width: 535px) {
   .inline_fields {
      display: block;
   }
   .inline_fields input {
      width: 100% !important;
   }
}
