.Navbar{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1% 10%;
   z-index: 100;
   color: white;
   background-color: var(--website-color);
}

.cart_logo_svg{
   height: 100px;
}

.cart{
   display: inline-flex;

}

.navigation{
   width: 60%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   cursor: pointer;
}

.hide_dropdown_button{
   display: none;
}

.dropdown_list div{
   margin-bottom: 10px;
   border-bottom: 3px solid gray;
}
.dropdown_list{
   z-index: 1000;
   color: white;
   display: none;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.888);
   position: absolute;
   right: 10px;
   margin-top: -5px;
}

@media only screen and (max-width: 920px) {
   .navigation{
      display: none;
   }
   
   .hide_dropdown_button{
      display: block;
      margin-left: 20px;
   }

   .Navbar{
      padding-left: 20px;
      padding-right: 20px;
   }
 }