.outermost{
   display: flex;
   background-image: url("../../assets/imgs/1st_back_img.jpg");
   background-repeat: no-repeat; 
   position: absolute;
   top: 0;
   background-position: center;
   background-size: cover;
   width: 100%;
   z-index: -1;
   height: 100vh;
}

.NewArraivalTitle{
   margin-top: 100px;
   margin-bottom: 100px;
   text-align: center;
   font-style: italic;
}

.NewArraivalList{
   margin: auto;
   width: 80%;
}

.rightmost{
   width: 50%;
   background-color: var(--website-color);
   opacity: 0.5;
}

.leftmost{
   width: 40%;
   height: 100%;
   overflow-x: visible;
   background-color: rgba(0, 0, 0, 0.50);
   padding-left: 10%;
   z-index: 5;
}