.event_div{
   background-color: bisque;
   /* padding-bottom: 50px; */
   padding: 100px 10px 100px 10px;
   margin-top: 4rem;
}

.wp_caption{
   width: 80%;
   height: 100%;
   margin: auto;
}

.text_button{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 70%;
   margin: 10px auto 40px auto;
}

.text{
   width: 60%;
}

@media only screen and (max-width: 900px) {
   .text_button{
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }
   .text{
      width: 100%;
   }
}
