.feature_content{
   width: 70%;
   margin: auto;
   height: 100%;
   padding: 10%;
   text-align: center;
}

.feature_content .group-3 h3{
   margin: 20px;
}

.feature_content h2{
   margin-top: 0;
}
