.first_content{
   background-color: transparent;
   color: white;
   z-index: 1;
   height: 83vh;
   padding-left: 10%;
   padding-top: 5vh;
}

.title{
   width: 45%;
   margin: 0;
   line-height: 1;
}

.specification{
   margin-top: 15px;
   margin-bottom: 12px;
}

.spec_list{
   margin-bottom: 25px;
}


.first_content li{
   list-style-type: none;
}


@media only screen and (max-width: 921px){
   .first_content h1{
      width: 100%;
   }
}