.div-img-title {
   font-size: 2rem;
   font-weight: bold;
   font-style: italic;
}

.div-img {
   background-color: red;
   background-position: "center";
   background-repeat: "no-repeat";
   background-size: "cover";
   height: 100%;
   padding: 0px 12px 12px 12px;
}

.div-img > div{
   display: block;
   width: 80%;
   height: fit-content;
   z-index: 100;
   color: white;
   /* background-color: beige; */
}

.div-img p{
   margin: 0;
}

