.outermost{
   display: flex;
   background-image: url("./1st_back_img.jpg");
   background-repeat: no-repeat; 
   background-size: cover;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -4;
   height: 100vh;
}

.rightmost{
   width: 50%;
   background-color: rgba(255, 0, 0, 0.5);
}

.leftmost{
   width: 40%;
   background-color: rgba(0, 0, 0, 0.50);
   padding-left: 10%;
   z-index: 1;
}