.first_content{
   background-color: transparent;
   top:0;
   color: white;
   z-index: 1;
   height: 83vh;
   padding-left: 10%;
   padding-top: 5vh;
}


.first_content li{
   list-style-type: none;
}
